<div class="container">
  <h2>
    {{ title }}
  </h2>
  <div class="row pb-4">
    <div class="col">
      <button (click)="show=!show"  class="btn">Toogle showgames</button>
    </div>
  </div>

  <div class="games-container" *ngIf="show">
    <div class="row">
    <div class="col-4" *ngFor="let game of games" [routerLink]="['/games', game.name]">
      <app-game-summary
        [game]="game"
      ></app-game-summary>
    </div>
  </div>
  <!-- <app-game-sellers
    [gameName]="selectedGameName"
    [sellers]="sellers"
  ></app-game-sellers> -->
</div>
</div>
