<div class="container">
  <div class="row float-right m-0 nt-2">
    <button class="btn btn-success" (click)="toggleAddMode()">
      Add Seller Mode
    </button>
  </div>
  <div *ngIf="!addMode">
  <h4 style="margin-top: 12px">Game Details: <span class="gameName">{{gameName|uppercase}}</span> </h4>

  <div  class="row p-4">

    <div class="filters">
     <span>Sort by:</span>
        <button class="btn btn-filter" [class.active]="sortAsc" (click)="toggleSort(true)">Higher price</button>
        <button class="btn btn-filter" [class.active]="!sortAsc" (click)="toggleSort(false)" >Lower price</button>
</div>
<div class="filters">
        <span>Filter by:</span>
        <button class="btn btn-filter" [class.active]="filterAll" (click)="toggleFilter(true)">All</button>
        <button class="btn btn-filter" [class.active]="!filterAll" (click)="toggleFilter(false)">Available stock</button>
      </div>
    </div>
    <app-seller-list class="row p-4" [sortAsc]="sortAsc" [filterAll]="filterAll" [sellers]="sellers"></app-seller-list>
  </div>


 <div *ngIf>
  <h6>{{noSellerMsg}}</h6>
 </div>


</div>
